body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: "Ubuntu";
}

.header, .greeting, .footer {
    background-color: #1F2937;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
    color: white;
}

/* Header */

.header {
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container {
    flex-shrink: 0;
    flex-basis: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    font-weight: 900;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
}

/* ******* */

/* Greeting */

.greeting {
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: center;
}

.greeting .container {
    flex-grow: 0;
    flex-basis: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.greeting-title {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
}

.greeting-pic {
    display: flex;
}

.greeting .blurb {
    text-align: center;
}

.greeting .text {
    color: gray;
}

/* ******* */

.quote {
    background-color: #E5E7EB;
}

body.div {
    width: 100%;
    margin: 0px;
}

/* Header */



/* ******* */

* { border: 1px solid red; }
